
.question-card {
  margin-top: 10px;
}

.question{
 // height:82vh;
// height: calc(100vh - 13vh);
}

.test-container{
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 70px;
  height: calc(100vh - 13vh);
}

//judgeapi for now no use plz do not remove
.source {
  width: 100%;
  background: #000;
  height: 50vh;
  font-size: 15px;
  resize: vertical;
  color: white;
  padding: 10px;
}

.btn-danger {
  margin-top: 10px;
}

.language {
  width: 150px;
}

.heading {
  font-size: 20px;
}

#output {
  background: #cccccc52;
  width: 100%;
  height: 50vh;
  font-size: 18px;
  resize: vertical;
  padding: 10px;
}

//sidebar

.sidebar {
  height: inherit;
  background-color: #eef068;
  padding-top: 20px;
 // border-radius: 6px;
 // z-index: 1;
  color:black;
 // margin-bottom:0;
}


.sidebar-nav {
  text-align: center;
 
}

.sidebar-nav .nav-link {
  color:black;
  margin-bottom: 20px;
 
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link.active {
  color: #000;
  background-color: rgb(239, 140, 54);
}

.main-container{
  height: 100vh;
}


// sidebar-new 

// content

.test-section {
  height: calc(100vh - 13vh);
}


// header

.test-header {
  position: fixed;
  top: 0;
  height: 7vh;
  left: 0;
  right: 0;
  z-index: 1;
}

// footer
.test-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6vh;
  width: 100%;
}

